body {
    font-family: Arial, sans-serif;
    background-image: url("../images/employer.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h2 {
    text-align: center;
    margin: 0 0 20px 0;
    color: #8e44ad;
    text-shadow: 2px 2px 1px #76448e;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus,
select:focus {
    outline: none;
    border-color: #8e44ad;
}
button {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;

}
button:hover {
    background-color: #76448e;
}
.login-link {
    text-align: center;
    margin-top: 10px;
}
.login-link a {
    color: #8e44ad;
}
.form-group {
    margin-bottom: 10px;
}
.form-group-inline {
    display: flex;
    flex-direction: column;
}